---
layout: default
title: personal website and blog of Guodong Jin
---

{% include header.html %}

<p>Hi. I'm Guodong Jin.</p>

<p>Currently, I am a Post-doctoral Fellow at the <a href="https://dsg.uwaterloo.ca">Data Systems Group (DSG)</a>, <a href="https://uwaterloo.ca">University of Waterloo</a>.
I work with <a href="https://cs.uwaterloo.ca/~ssalihog/">Prof. Semih Salihoglu</a> on graph database management systems.
Broadly, my research interests focus on query processing and storage optimization of analytical data systems.
</p>

<p>
I did my Ph.D. at Renmin University of China, and visited the <a href="https://dsg.uwaterloo.ca">DSG</a> during the last two years of my Ph.D.
My thesis topic is query optimizations in graph-relational databases, which is based on my research project <a href="https://graindb.github.io">GRainDB</a>, the project aims to extend RDBMSs to support graph queries.
Other actively involved research projects during my Ph.D. period are <a href="http://graphflow.io">GraphflowDB</a>, and <a href="https://github.com/pixelsdb/pixels">Pixels</a>.
</p>

<hr/>

<div id="post">    
## SELECTED PUBLICATIONS
</div>  
<li>Making RDBMSs Efficient on Graph Workloads Through Predefined Joins. <i>VLDB 2022.</i></li>
<b>Guodong Jin</b>, Semih Salihoglu.
<a href="/paper/graindb-vldb.pdf">[paper] </a><a href="https://github.com/graindb/graindb">[code]</a>

<li>GRainDB: A Relational-core Graph-Relational DBMS. <i>CIDR 2022.</i></li>
<b>Guodong Jin</b>, Nafisa Anzum, Semih Salihoglu.
<a href="/paper/graindb-cidr.pdf">[paper] </a><a href="https://graindb.github.io">[code]</a>

<li>Storage-layout Optimization and Columnar Caching for Data Lakes. <i>EDBT 2022.</i></li>
<b>Guodong Jin</b>, Haoqiong Bian, Yueguo Chen, Xiaoyong Du.
<a href="/paper/pixels-edbt.pdf">[paper] </a><a href="https://github.com/pixelsdb/pixels">[code]</a> <a href="https://www.youtube.com/watch?v=5RzrNFl0B-c">[talk]</a>

<li>Rainbow: Adaptive Layout Optimization for Wide Tables. <i>ICDE, International Conference on Data Engineering (Demonstrantion Track), Apr 2018.</i></li>
Haoqiong Bian, Youxian Tao, <b>Guodong Jin</b>, Yueguo Chen, Xiongpai Qin, Xiaoyong Du.
<a href="/paper/rainbow-icde-2018.pdf">[paper] </a><a href="/paper/rainbow-icde-poster.pdf">[poster]</a> <a href="https://github.com/dbiir/rainbow">[code]</a>

<hr/>

You can reach me at <a href="guod.jin@gmail.com">guod.jin@gmail.com</a>.

{% include fine-print.html %}
