---
layout: default
title: personal website and blog of Guodong Jin
---

{% include header.html %}

<div id="series">
  {% for series in site.data.series %}
<!--     <h3 id="{{ series.tag_name }}">{{ series.name }}</h3>
    <p>{{ series.desc }}</p> -->
    <ul>
      {% for post in site.tags[series.tag_name] %}
        <li {% if post.favorite %}class="favorite"{% endif %}>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}

<!--   <h3 id="writeup">Readings</h3>
  <p>Writing on papers or books I've been reading</p>

  <ul>
    {% for post in site.categories.writeup %}
      <li {% if post.favorite %}class="favorite"{% endif %}>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul> -->

</div>

<hr/>

{% include fine-print.html %}
